[packages]
file_1=D:\test\RD_C020_01_V03R001B017T013_part_20201126150315.tar.gz
file_2=D:\test\RD_C020_01_V03R001B017_full_.tar.gz


file_1_info={'mcuVer':'RD_C020_MCUB_V01R001B005',
             'oemSfVer':'RD_C020_MCUT_V01R001B006',
             'pwrMcuVer':'RD_C020_MCUE_V01R001B002T009',
             'firmwareVer':'RD_C020_01_V03R001B017T013'}
file_2_info={'mcuVer':'RD_C020_MCUB_V01R001B006',
             'oemSfVer':'RD_C020_MCUT_V01R001B005T004',
             'pwrMcuVer':'RD_C020_MCUE_V01R001B003',
             'firmwareVer':'RD_C020_01_V03R001B017'}
firmware_name_list = mcuVer,pwrMcuVer,firmwareVer,oemSfVer
